<div class="panel panel-default new-comment">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 comment-col1"><span class="user">{{user}}</span><span class="date">{{date}}</span></div>
            <div class="col-md-8" class="text">{{text}}</div>
        </div>
    </div>
</div>
